<header>
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
    <!--<a href="#about" class="cta-btn">Learn More</a>-->
  </header>
  
  <!-- Navigation Bar old 
  <nav>
    <a href="/" class="nav-link">Home</a>
    <a href="#services" class="nav-link">Services</a>
    <a href="https://apps.odoo.com/apps/modules/browse?search=webkanini" class="nav-link" target="_blank">Odoo Addons</a>
    <a href="#about" class="nav-link">About</a>
    <a href="#" id="contact-link" class="nav-link">Contact</a>
  </nav>-->

  <!--<a href="#technologies" class="nav-link">Technologies</a>-->
  <!--<a href="https://tally.so/r/eqzxRk" class="nav-link" target="_blank">Contact us</a>-->

  <!-- New Navigation Bar -->
  <nav class="main-nav" id="mainNav">
    <!-- Hamburger button (visible only on mobile) -->
    <button class="hamburger" id="hamburgerBtn" aria-label="Menu">☰</button>

    <!-- Wrapper for links – this will become vertical dropdown on mobile -->
    <div class="nav-links" id="navLinks">
      <a href="/" class="nav-link">Home</a>
      <a href="#services" class="nav-link">Services</a>
      <a href="https://apps.odoo.com/apps/modules/browse?search=webkanini" class="nav-link" target="_blank">Odoo Addons</a>
      <a href="#about" class="nav-link">About</a>
      <a href="#" id="contact-link" class="nav-link">Contact</a>
    </div>
</nav>