<header>
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
    <!--<a href="#about" class="cta-btn">Learn More</a>-->
  </header>
  
  <nav>
    <a href="/" class="nav-link">Home</a>
    <a href="#services" class="nav-link">Services</a>
    <a href="https://apps.odoo.com/apps/modules/browse?search=webkanini" class="nav-link" target="_blank">Odoo Addons</a>
    <a href="#about" class="nav-link">About</a>
    <!--<a href="#technologies" class="nav-link">Technologies</a>-->
    <!--<a href="#contact" class="nav-link">Contact</a>-->
    <a href="https://tally.so/r/eqzxRk" target="_blank">Contact us</a>
  </nav>