<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{ page.description | default: site.description }}">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  {% include header.html %}
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
  <script defer src="{{ '/assets/js/main.js' | relative_url }}"></script>
  <script src="https://tally.so/widgets/embed.js"></script>
  <script defer src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>